#allContent {
    background-color: aquamarine;
    width: 1000px;
    margin: auto;
    height: 100vh;
}

header {
    float: left;
    background-color: tomato;
    width: 72%;
    height: 20%;
}

nav {
    float: left;
    background-color: bisque;
    padding: 5px;
    margin: 10px;
    width: 22%;
    height: 96%;
}

article {
    float: left;
    background-color: gray;
    width: 22%;
    height: 72%;
}

footer {
    float: left;
    background-color: orange;
    width: 22%;
    height: 72%;
}

nav,
header,
article,
footer {
    padding: 5px;
    margin: 10px;

}