#allContent{
    background-color: rgb(255, 127, 217);
    width: 100%;
}

nav {
    height: 77%;
    width: 22%;
}

header {
    width: 67.5%;
    height: 22%;
}

article {
    width: 31.29%;
    height: 50%;
}

footer {
    height: 11.5%;
    width: 95%;
}